<!DOCTYPE html>
<html>
  <head>
    <title>Rails Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="memory">
        <p>
          Memory Used: <strong><%= `ps -o rss= -p #{Process.pid}`.to_i / 1024 %> MBs</strong>
        </p>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
